# Types of Loops
1- For Loop      2- While Loop

For Loop

In [1]:
x=[1,2,3,4,5,6,7,8,9,10]

In [7]:
for x in range(6):  # they can use indexing ....(0,1,2,3,4,5) 6 will not be included
    print(x,"Arslan")

0 Arslan
1 Arslan
2 Arslan
3 Arslan
4 Arslan
5 Arslan

In [10]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [13]:
for number in range(1,10,2):   #using slicing (steps)
    print(number)

1
3
5
7
9

In [16]:
for number in range(10,1,-2):   #Reverse
    print(number)

10
8
6
4
2

In [22]:
cities=["Karachi","Lahore","Rawalpindi"]
cities

['Karachi', 'Lahore', 'Rawalpindi']

In [23]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is Karachi
The city under consideration is Lahore
The city under consideration is Rawalpindi

In [25]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [26]:
country = "Pakistan"
for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [28]:
country = "Pakistan","America" #they use tuple
for char in country:
    print(char)

Pakistan
America

## For Loop -----Break & Continue

In [2]:
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [8]:
for number in [5,13,17,99]:
    if number%3==1:
        break
    print(number)

5

In [13]:
for num in range(10):
    if num==6:
        continue
    print(num)

0
1
2
3
4
5
7
8
9

In [14]:
for num in range(10):
    if num==4 or num==7:
        continue
    print(num)

0
1
2
3
5
6
8
9

In [16]:
for num in range(10):
    if num==4 or num==7 or num==9:  # use a many values in continue
        continue
    print(num)

0
1
2
3
5
6
8

# Nested for Loop

In [17]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a,char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a